.modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 300px;
    height: 280px;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -45px;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

  .modal-title-text {
    font-size: 20px;
    font-weight: bold;
  }
  
    .open {
      display: block;
    }

    .name-field {
      margin-top: 20px;
      margin-bottom: 10px;
    }


  